---
import { Icon } from 'astro-icon/components';
import { SITE } from '~/config.mjs';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800']}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="flex items-center justify-center py-6 md:py-8 font-light">
      <span class="text-center font-extralight">
        Built with <a href="https://astro.build/" target="_blank" class="font-semibold hover:text-[#ECD06F]">
          Astro.js</a
        >
         and <a href="https://tailwindcss.com/" class="font-semibold hover:text-[#ECD06F]" target="_blank"
          >Tailwind CSS</a
        >. <br />
         Hosted on <a href="https://vercel.com/" class="font-semibold hover:text-[#ECD06F]" target="_blank">Vercel</a>. <br
        />
        <a href="https://it.linkedin.com/in/manuel-ceppi" class="hover:text-[#ECD06F]"
          >Designed & built by Manuel Ceppi.</a
        >
      </span>
    </div>
  </div>
</footer>
