---
import splashImage from '../../../public/images/hero.png';
import fortechLogo from '../../../public/images/fortech_logo.png';
import spiaggeLogo from '../../../public/images/spiagge_logo.png';
import wedoLogo from '../../../public/images/wedo_logo.png';
import { astroI18n, t, l } from 'node_modules/astro-i18n/dist/src';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
  content?: string;
}
---

<div>
  <div class="mx-auto sm:px-8 md:px-14 lg:px-5 items-center flex flex-col overflow-hidden">
    <div class="flex-col max-w-4xl mx-auto lg:mx-0 lg:flex-1">
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
           font-light text-heading-1 text-center md:text-left"
      >
        <span>{t('landing.splashFirstTitle')}</span>
      </h1>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
         font-light text-heading-1 text-center md:text-right"
      >
        <span>{t('landing.splashSecondTitle')}</span>
      </h1>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
           font-bold text-heading-1 text-center"
      >
        <!-- TODO Change -->
        <span>{t('landing.splashColoured')}.</span>
      </h1>
      <p class="md:text-m text-heading-3 mt-8 mx-12 md:mx-auto text-gray-400">
        {t('landing.splashSubtitle')}
      </p>
    </div>
  </div>
  <!-- About section -->
  <section id="about" class="dark:text-gray-100 mb-36 mt-36">
    <div
      class="text-center mb-2 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto before:block"
    >
      <h3 class="text-3xl font-light">{t('landing.aboutTitle')}</h3>
    </div>
    <div class="md:flex max-w-5xl mx-auto p-4">
      <div class="flex-column px-6 text-cente">
        <p class="text-lg md:text-md text-heading-3 mx-auto text-gray-400">
          {t('landing.aboutMeText')}
        </p>
      </div>
      <div class="flex-column p-4">
        <img src={splashImage.src} alt="hero" class="w-full h-full" />
      </div>
    </div>
  </section>
  <!-- Experiences section -->
  <section id="experiences" class="dark:text-gray-100">
    <div class="container max-w-5xl px-4 mx-auto">
      <div class="text-center mb-14 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto">
        <h3 class="text-3xl font-light">{t('landing.experiencesTitle')}</h3>
        <div class="text-white py-8">
          <p class="text-sm md:text-base leading-snug text-gray-400 text-opacity-100">
            {t('landing.experiencesText')}
          </p>
          <div class="container mx-auto flex flex-col items-start md:flex-row">
            <div class="ml-0 sticky">
              <div class="container mx-auto w-full h-full">
                <div class="relative wrap overflow-hidden p-10 h-full">
                  <div class="absolute h-full w-1 bg-[#07bfa4]" style="right: 50%;"></div>
                  <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                    <div class="order-1 w-5/12"></div>
                    <div class="order-1 w-5/12 text-right">
                      <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.spiaggePeriod')}</time>
                      <h4 class="mb-3 font-bold text-lg md:text-2xl">{t('landing.spiaggeTitle')}</h4>
                      <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                        {t('landing.spiaggeText')}
                      </p>
                    </div>
                  </div>
                  <div class="mb-8 flex justify-between items-center w-full right-timeline">
                    <div class="order-1 w-5/12"></div>
                    <div class="order-1 w-5/12 text-left">
                      <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.fortechPeriod')}</time>
                      <h4 class="mb-3 font-bold text-lg md:text-2xl">{t('landing.fortechTitle')}</h4>
                      <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                        {t('landing.fortechText')}
                      </p>
                    </div>
                  </div>
                  <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                    <div class="order-1 w-5/12"></div>
                    <div class="order-1 w-5/12 text-right">
                      <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.wedoPeriod')}</time>
                      <h4 class="mb-3 font-bold text-lg md:text-2xl">{t('landing.wedoTitle')}</h4>
                      <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                        {t('landing.wedoText')}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section -->
  <section id="contact" class="text-gray-100">
    <div class="container max-w-5xl px-4 py-12 mx-auto text-white hover:text-[#07bfa4]">
      <div class="text-center mb-14 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto">
        <button class="text-4xl font-bold text-inherit transition ease-in-out hover:scale-110"
          >{t('landing.contactTitle')}</button
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-8 h-8 mx-auto mt-2 text-inherit animate-bounce"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"></path>
        </svg>
        <p class="text-xs mt-4 tracki dark:text-gray-400">{t('landing.contactMeText')}</p>
      </div>
    </div>
  </section>
</div>

<style>
  .background-animation {
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    '0%, 100%': {
      'background-size':'400%400%','background-position': 'center top';
    }
    ,
                '50%': {
      'background-size':'200%200%','background-position': 'center center';
    }
  }
</style>
