---
import splashImage from '../../../public/images/hero.png';
import fortechLogo from '../../../public/images/fortech_logo.png';
import spiaggeLogo from '../../../public/images/spiagge_logo.png';
import wedoLogo from '../../../public/images/wedo_logo.png';
import { astroI18n, t, l } from 'node_modules/astro-i18n/dist/src';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
  content?: string;
}
---

<div>
  <div class="mx-auto sm:px-8 md:px-14 lg:px-5 items-center flex flex-col overflow-hidden">
    <!-- <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span> -->
    <div class="flex-col max-w-4xl mx-auto lg:mx-0 lg:flex-1">
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
           font-light text-heading-1 text-center md:text-center"
      >
        <span>{t('landing.splashFirstTitle')}</span>
      </h1>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
         font-light text-heading-1 text-center md:text-right"
      >
        <span>{t('landing.splashSecondTitle')}</span>
      </h1>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
           font-bold text-heading-1 text-center"
      >
        <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
          >{t('landing.splashColoured')}.
        </span>
      </h1>
      <p class="md:text-lg text-heading-3 mt-8 mx-12 md:mx-auto">
        {t('landing.splashSubtitle')}
      </p>
    </div>
  </div>
  <!-- About section -->
  <section class="dark:text-gray-100">
    <div class="container max-w-5xl px-4 py-12 mx-auto">
      <div
        class="text-center mb-14 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto after:dark:bg-violet-400"
      >
        <h3 class="text-3xl font-light">{t('landing.aboutTitle')}</h3>
      </div>
    </div>
  </section>
  <!-- Experiences section -->
  <section class="dark:text-gray-100">
    <div class="container max-w-5xl px-4 py-12 mx-auto">
      <div
        class="text-center mb-14 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto after:dark:bg-violet-400"
      >
        <h3 class="text-3xl font-light">{t('landing.experiencesTitle')}</h3>
      </div>
      <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
        <div
          class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 xl:before:-left-1 before:dark:bg-gray-700"
        >
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400"
          >
            <h3 class="text-xl font-semibold tracki">Spiagge.it S.r.l</h3>
            <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.spiaggePeriod')}</time>
            <p class="mt-3">
              Pellentesque feugiat ante at nisl efficitur, in mollis orci scelerisque. Interdum et malesuada fames ac
              ante ipsum primis in faucibus.
            </p>
          </div>
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400"
          >
            <h3 class="text-xl font-semibold tracki">Fortech S.r.l</h3>
            <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.fortechPeriod')}</time>
            <p class="mt-3">
              Morbi vulputate aliquam libero non dictum. Aliquam sit amet nunc ut diam aliquet tincidunt nec nec dui.
              Donec mollis turpis eget egestas sodales.
            </p>
          </div>
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400"
          >
            <h3 class="text-xl font-semibold tracki">Wedo S.r.l</h3>
            <time class="text-xs tracki uppercase dark:text-gray-400">{t('landing.wedoPeriod')}</time>
            <p class="mt-3">
              Suspendisse tincidunt, arcu nec faucibus efficitur, justo velit consectetur nisl, sit amet condimentum
              lacus orci nec purus. Mauris quis quam suscipit, vehicula felis id, vehicula enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section -->
  <section class="dark:text-gray-100">
    <div class="container max-w-5xl px-4 py-12 mx-auto">
      <div
        class="text-center mb-14 after:block after:w-full after:h-0.5 after:mt-5 after:rounded-md after:mx-auto after:dark:bg-violet-400"
      >
        <h3 class="text-3xl font-light">{t('landing.contactTitle')}</h3>
      </div>
    </div>
  </section>
</div>
