---
import laravelImage from '../../public/images/white_logo_no_bg.png';
---

<span class="self-center ml-2 text-xl md:text-xl whitespace-nowrap text-white">
  <img src={laravelImage.src} alt="Logo" class="object-scale-down h-16 w-16" />
</span>
