---
import { Icon } from 'astro-icon/components';
import { SITE } from '~/config.mjs';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = 'Toggle Menu',
  class:
    className = 'ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition',
  iconClass = 'w-6 h-6',
  iconName = 'tabler:menu',
} = Astro.props;
---

<button id="toggle-menu" type="button" class={className} aria-label={label}>
  <Icon name={iconName} class={iconClass} />
</button>

<script is:inline define:vars={{ defaultTheme: SITE.defaultTheme }}>
  // Find our component DOM on the page.
  const button = document.getElementById('toggle-menu');

  button.addEventListener('click', () => toggleHamburger());

  function toggleHamburger() {
    button.classList.toggle('expanded');
    document.body.classList.toggle('overflow-hidden');
    document.getElementById('header')?.classList.toggle('h-screen');
    document.querySelector('#header nav')?.classList.toggle('hidden');
  }
</script>
